@{
    ViewData["Title"] = "Отсутствуют свободные лицензии";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Отсутствуют свободные лицензии для данного программного обеспечения.</p>
</header>