@model IEnumerable<AccountingSoftware.Models.Software>
    @{
    ViewData["Title"] = "Выбор ПО";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Выбор ПО</h1>

@*<div class="form-group">
    <a asp-controller="Employees" asp-action="Create" asp-route-fromSelectEmployee="true" class="btn btn-info">Добавить нового работника</a>
</div>
*@

<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SoftwareTechnicalDetails.Name)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SoftwareTechnicalDetails.Name)
                </td>
                <td>
                    @using (Html.BeginForm())
                    {
                        <div>
                            <input type="hidden" name="softwareTechnicalDetailsId" value="@item.SoftwareTechnicalDetails.Id" />
                            <input type="submit" value="Выбрать" class="btn btn-primary" />
                        </div>
                    }
                </td>
            </tr>
        }

    }
</table>